.contenedorHome{
    /* display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-wrap: wrap; */
    background-color: none;
}

.contenedorTarjetas{
    display: flex;
    Justify-content: center;
    margin-top: 10rem;
    margin-left: 70px;
    margin-right: 70px;
    flex-wrap: wrap;
    gap: 20px;
}